<footer>
  <div class="container">
    <div id="div_mail">
      <h2>Contact</h2>
      <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope"></i>Contact par mail</a>
      <p><i class="fa fa-map-marker"></i>{{ site.author.city }}</p>
    </div>
    <div id="div_social">
      {% if site.author.googleplus_username %}
        <a href="https://plus.google.com/u/0/+{{ site.author.googleplus_username }}/posts?rel=author" target="_blank" title="{{ site.author.twitter_username }} sur Google+"><i class="fa fa-google-plus icones_social"></i></a>
      {% endif %}

      {% if site.author.twitter_username %}
        <a href="https://twitter.com/{{ site.author.twitter_username }}" target="_blank" title="{{ site.author.twitter_username }} sur Twitter"><i class="fa fa-twitter icones_social"></i></a>
      {% endif %}

      {% if site.author.linkedin_username %}
        <a href="http://fr.linkedin.com/in/{{ site.author.linkedin_username }}" target="_blank" title="{{ site.author.linkedin_username }} sur Linkedin"><i class="fa fa-linkedin-square icones_social"></i></a>
      {% endif %}

      {% if site.author.github_username %}
        <a href="https://github.com/{{ site.author.github_username }}" target="_blank" title="{{ site.author.github_username }} sur Github"><i class="fa fa-github icones_social"></i></a>
      {% endif %}

        <a href="{{ "feed.xml" | prepend: site.baseurl }}" target="_blank" title="Flux RSS"><i class="fa fa-rss icones_social"></i></a>
    </div>
  </div>
</footer>

{% if page.age %}
<script type="text/javascript">
	var birthday = new Date(1991, 05, 12)
	var ageDifMs = Date.now() - birthday.getTime();
	document.getElementById("age").innerHTML = Math.abs(new Date(ageDifMs).getUTCFullYear() - 1970);
</script>
{% endif %}
{% if site.google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
