
#bg_bienvenu {
	background: #34495e;
}

.bg_presentation {
    background: #ced4d8;
}

#bienvenu {
	margin-top: 160px;
    margin-bottom: 20px;
	text-align: center;
}

#bienvenu h1 {
	font-size: 55px;
	color: #95a5a6;
	font-weight: normal;
}

#bienvenu p {
	color: #95a5a6;
	margin-top: 40px;
	font-size: 32px;
}

#bienvenu a {
	font-family: Lato;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 12px 35px 10px 35px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ff6760;
	line-height: 130px;
    box-shadow: 0 4px #dc524c;
    position: relative;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

#bienvenu a:hover {
	background: #fc5e57;
    box-shadow: 0 4px #c34943;
}

#bienvenu a:active {
    top: 4px;
    box-shadow: 0 0px #c34943;
}

@media screen and (max-width: 850px) {
    #bienvenu h1 {
        font-size: 45px;
    }

    #bienvenu p {
        font-size: 28px;
    }

    #bienvenu {
        margin-top: 220px;
        padding-left: 5%;
        padding-right: 5%;
    }
}


@media screen and (max-width: 550px) {


    #bienvenu {
        margin-top: 70px;
        margin-bottom: 10px;
        text-align: center;
    }

    #bienvenu h1 {
         display: none;
    }

    #bienvenu p {
		font-size: 25px;
    }

    #bienvenu a {
        font-size: 12px;
        font-weight: bold;
        padding: 10px 32px 7px 32px;
        line-height: 115px;
        box-shadow: 0 4px #c34943;
    }

    #bienvenu a:hover {
        background: #fc5e57;
        box-shadow: 0 4px #c34943;
    }

    #bienvenu a:active {
        top: 4px;
        box-shadow: 0 0px transparent;
    }

}
