
.main-post-list {
    /*background: white;*/
    margin-top: 160px;
}

.main-post-list h1 {
	margin-top: 0;
    font-size: 3.2em;
    letter-spacing: .05em;
}

.main-post-list h2 {
	font-size: 2.2em;
}

.main-post-list h3 {
    font-size: 1.8em;
}

.main-post-list a {
	color: #ff6760;
}

.main-post-list a:hover {
	color: #34495e;
}

ul li {
	margin: 0 0 .2em 0;
    line-height: 1.6em;
}

.post-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left; 
}

.post-list li {
	margin: 0 0 2.2em 0; 
}

.post-list li:last-child hr {
	display: none; 
}

.post-list__post-title {
	margin-top: 0;
	margin-bottom: .2em;
	font-size: 1.5em;
	line-height: 1.3em; 
}

.post-list__post-title a {
	color: #34495e; 
}

.post-list__post-title a:hover {
	color: #ff6760; 
}

.post-list__meta {
	display: block;
	margin: .7em 0 0 0;
	font-size: .9em;
	color: #c7c7c7; 
}

.post-list__meta--date {
	margin-right: .5em; 
}

.post-meta {
	color: #c7c7c7; 
}

.post-meta__tags a {
	color: #ff6760;
	font-size: 14px;
}

.excerpt {
	margin: 0;
	font-size: .9em;
	color: #999999; 
}

.post-list__divider {
	width: 30%;
	margin: 2.2em 0 2.1em 0;
	border-top: 1px solid #dddddd; 
}

.pagination {
	display: block;
	margin: 0 0 4em 0; 
}

.pagination__page-number {
	margin: 0;
	font-size: .8em;
	color: #999999; 
}

.pagination__newer {
	margin-right: 1em; 
}

.pagination__older {
	margin-left: 1em; 
}

.categories,
.pagination,
.tags {
	font-size: .8em;
}

.categories a,
.pagination a,
.tags a {
	display: inline-block;
	font-size: 12px;
	margin: 5px 0;
	padding: 5px 10px;
	text-shadow: none;
	white-space: nowrap;
	color: #fff;
	border-radius: 3px;
    background: #ff6760;
}

.categories a:hover,
.pagination a:hover,
.tags a:hover {
	color: #fff;
}

div:target {
    padding-top: 7em; 
    margin-top: -7em; 
}

p {
    margin-bottom: 1.3em;
    line-height: 1.7em;
}

.main-post-list img {
	display: block;
	max-width: 100%;
    margin: 0 auto;
    border-radius: 3px;
}

pre code {
	font-family: inherit;
	color: #bbb;	
}

pre {
	font-size: 1em;	
	overflow: auto;
}

pre.highlight,
.highlight pre {
  padding: 10px;
  word-wrap: break-word;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}


@media screen and (max-width: 850px) {

    .main-post-list {
        margin-top: 220px;
        padding-left: 5%;
        padding-right: 5%;
    }
}


@media screen and (max-width: 550px) {

    .main-post-list {
        margin-top: 100px;
        margin-bottom: 10px;
    }

	.main-post-list h2 {
    	font-size: 1.8em;
    }
}

/*
@supports (height: 100vh) {	
	body{	
		background: linear-gradient(to right top, #ff6760 50%, white 50%);
		background-size: 100% calc(100% - 100vh + 200px);
		background-repeat: no-repeat;
	}

	body:before{
		content:'';
		position: fixed;
		top: 105px;
		bottom: 0;
		width: 100%;
		z-index: -1;
		background: white;
	}
}*/